@import "../../../styles/variables";

.changeSortSource {
  & &__orders {
    display: flex;
  }

  & &__order {
    flex-grow: 1;
    width: 50%;
    border-top: 1px solid $global-color-gray-1;
    border-bottom: 1px solid $global-color-gray-1;
  }

  & &__orderButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px - 2px;
    color: $global-color-gray-2;
  }

  & &__orderButton.changeSortSource__orderButton--current {
    background-color: $global-color-white;
    color: $global-color-black;
  }

  & &__orderIcon {
    font-size: 21px;
    fill: $global-color-gray-2;
  }

  & &__orderButton.changeSortSource__orderButton--current &__orderIcon {
    fill: $global-color-black;
  }

  & &__orderIcon.changeSortSource__orderIcon--ascending {
    transform: scale(1, -1);
  }

  & &__orders + &__categories {
    margin-top: 8px;
  }

  & &__category {
    border-top: 1px solid $global-color-gray-1;
    border-bottom: 1px solid $global-color-gray-1;
  }

  & &__category + &__category {
    margin-top: -1px;
  }

  & &__categoryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    color: $global-color-gray-2;
  }

  & &__categoryButton.changeSortSource__categoryButton--current {
    background-color: $global-color-white;
    color: $global-color-black;
  }

  & &__categoryIcon {
    font-size: 21px;
    margin-right: 4px;
    fill: $global-color-gray-2;
  }

  & &__categoryButton.changeSortSource__categoryButton--current &__categoryIcon {
    fill: $global-color-black;
  }

  @media (max-width: $break-point) {
    & &__orders {
      display: block;
    }

    & &__order {
      width: auto;
    }

    & &__order + &__order {
      margin-top: -1px;
    }

    & &__orderButton,
    & &__categoryButton {
      flex-direction: column;
      height: 48px;
    }

    & &__orderIcon,
    & &__categoryIcon {
      margin-left: 0;
      padding-bottom: 2px;
    }
  }
}
