@import "../../../styles/variables";

.graphTable {
  position: relative;

  & &__item {
    position: absolute;
    width: 100%;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      width: inherit;
      height: 1px;
      background-color: $global-color-gray-1;
      top: -0.5px;
      left: 0;
    }
  }
}
