$global-color-gray-1: #808080;
$global-color-gray-2: #ccc;
$global-color-gray-3: #eaeaea;
$global-color-gray-4: #f5f5f5;

$global-color-black: #222;

$global-color-white: #fff;

$global-color-purple-1: #3300ff;
$global-color-purple-2: #af99ff;

$global-opacity: 0.8;

$page-max-width: 1024px;

$text-color: $global-color-white;

$link-color: $global-color-purple-1;

$tap-highlight-color: rgba($global-color-purple-2, 1 - $global-opacity);

$retailAndRecreation-color: #d36c0c;
$groceryAndPharmacy-color: #129eaf;
$parks-color: #188038;
$transitStations-color: #d01884;
$workspaces-color: #1967d2;

$elevation-level-1-z-index: auto;
$elevation-level-2-z-index: 200000;
$elevation-level-3-z-index: 500000;

$break-point: 736px;
