@import "../../../styles/variables";

.top {
  $dates-height: 48px;
  $dates-margin: 8px;

  & &__table {
    border-top: 1px solid $global-color-gray-3;
  }

  & &__tableBody {
    display: flex;
  }

  & &__tableBodyHeader {
    min-width: 160px;
    flex-shrink: 1;
  }

  & &__tableBodyData {
    flex-grow: 1;
    min-width: 0;
    padding-bottom: $dates-height + $dates-margin * 2;
    border-left: 1px solid $global-color-gray-3;
  }

  & &__changeSortSource,
  & &__changeGraphSource {
    position: sticky;
    background-color: rgba($global-color-black, 0.9);
    top: 0;
    left: 0;
    z-index: $elevation-level-3-z-index;
  }

  & &__changeSortSource {
    overflow-y: auto;
    margin-top: 48px;
    padding-bottom: $dates-height + $dates-margin * 2;
    max-height: calc(100vh - 48px);
    top: 48px;
  }

  & &__changeGraphSource::before {
    content: "";
    position: absolute;
    border: inherit;
    width: 160px;
    bottom: -2px;
    right: 100%;
  }

  & &__graphTable {
    margin-top: -1px;
    border-bottom: 1px solid $global-color-gray-1;
    box-sizing: content-box;
  }

  & &__dates {
    position: fixed;
    width: 100%;
    bottom: 8px;
    left: 0;
    z-index: $elevation-level-3-z-index;
  }

  @media (max-width: $break-point) {
    & &__tableBodyHeader {
      min-width: 64px;
    }
  }
}
