@import "../../../styles/variables";

.changeGraphSource {
  border-bottom: 2px solid $global-color-gray-2;
  transition: border-bottom 0.2s ease-in-out;

  &.changeGraphSource--retailAndRecreation {
    border-bottom-color: $retailAndRecreation-color;
  }

  &.changeGraphSource--groceryAndPharmacy {
    border-bottom-color: $groceryAndPharmacy-color;
  }

  &.changeGraphSource--parks {
    border-bottom-color: $parks-color;
  }

  &.changeGraphSource--transitStations {
    border-bottom-color: $transitStations-color;
  }

  &.changeGraphSource--workspaces {
    border-bottom-color: $workspaces-color;
  }

  & &__items {
    display: flex;
    overflow-x: auto;
  }

  & &__item {
    min-width: 160px;
    height: 48px;
  }

  & &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    transition: opacity 0.2s ease-in-out;
  }

  & &__icon {
    width: 21px;
    margin-right: 4px;
  }

  & &__button.changeGraphSource__button--retailAndRecreation {
    background-color: rgba($retailAndRecreation-color, 0.4);
    color: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--retailAndRecreation &__icon {
    fill: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--groceryAndPharmacy {
    background-color: rgba($groceryAndPharmacy-color, 0.4);
    color: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--groceryAndPharmacy &__icon {
    fill: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--parks {
    background-color: rgba($parks-color, 0.4);
    color: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--parks &__icon {
    fill: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--transitStations {
    background-color: rgba($transitStations-color, 0.4);
    color: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--transitStations &__icon {
    fill: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--workspaces {
    background-color: rgba($workspaces-color, 0.4);
    color: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--workspaces &__icon {
    fill: $global-color-gray-2;
  }

  & &__button.changeGraphSource__button--retailAndRecreation.changeGraphSource__button--current {
    background-color: $retailAndRecreation-color;
    color: $global-color-white;
  }

  & &__button.changeGraphSource__button--retailAndRecreation.changeGraphSource__button--current &__icon {
    fill: $global-color-white;
  }

  & &__button.changeGraphSource__button--groceryAndPharmacy.changeGraphSource__button--current {
    background-color: $groceryAndPharmacy-color;
    color: $global-color-white;
  }

  & &__button.changeGraphSource__button--groceryAndPharmacy.changeGraphSource__button--current &__icon {
    fill: $global-color-white;
  }

  & &__button.changeGraphSource__button--parks.changeGraphSource__button--current {
    background-color: $parks-color;
    color: $global-color-white;
  }

  & &__button.changeGraphSource__button--parks.changeGraphSource__button--current &__icon {
    fill: $global-color-white;
  }

  & &__button.changeGraphSource__button--transitStations.changeGraphSource__button--current {
    background-color: $transitStations-color;
    color: $global-color-white;
  }

  & &__button.changeGraphSource__button--transitStations.changeGraphSource__button--current &__icon {
    fill: $global-color-white;
  }

  & &__button.changeGraphSource__button--workspaces.changeGraphSource__button--current {
    background-color: $workspaces-color;
    color: $global-color-white;
  }

  & &__button.changeGraphSource__button--workspaces.changeGraphSource__button--current &__icon {
    fill: $global-color-white;
  }
}
