@import "../../../styles/variables";

.dateCarousel {
  background-color: rgba($global-color-black, 0.9);
  height: 48px;
  overflow: hidden;

  $item-width: 72px;

  & &__container {
    border-top: 1px solid $global-color-gray-3;
    border-bottom: 1px solid $global-color-gray-3;
    height: inherit;
  }

  & &__item {
    display: flex;
    border-left: 1px solid $global-color-gray-1;
    border-right: 1px solid $global-color-gray-1;
    width: $item-width;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $global-color-gray-1;
    font-size: 13px;
    cursor: pointer;
  }

  & &__item + &__item {
    margin-left: -1px;
  }

  & &__item:global(.swiper-slide-active) {
    position: relative;
    opacity: 1;
    background-color: $global-color-white;
    color: $global-color-black;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &::before {
      content: "";
      position: absolute;
      border-width: 0 $item-width * 0.5 4px;
      border-style: solid;
      border-color: transparent transparent $global-color-white transparent;
      top: -4px;
      left: 0;
    }
  }

  & &__item.dateCarousel__item--sunday {
    color: #a05d84;
  }

  & &__item.dateCarousel__item--saturday {
    color: #6382ac;
  }

  & &__item.dateCarousel__item--nationalHoliday {
    color: #a05d84;
  }

  & &__item:global(.swiper-slide-active).dateCarousel__item--sunday,
  & &__item:global(.swiper-slide-active).dateCarousel__item--nationalHoliday {
    background-color: #ffeaf6;
    color: #d01884;
  }

  & &__item:global(.swiper-slide-active).dateCarousel__item--saturday {
    background-color: #deecff;
    color: #004eb8;
  }

  & &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid $global-color-gray-3;
    background-color: rgba($global-color-black, 0.9);
    width: 40px;
    height: inherit;
    top: 0;
    z-index: 1;
  }

  & &__arrow.dateCarousel__arrow--prev {
    left: -1px;
  }

  & &__arrow.dateCarousel__arrow--next {
    right: -1px;
  }

  & &__arrowIcon {
    width: 25px;
  }

  & &__arrow.dateCarousel__arrow--prev &__arrowIcon {
    margin-left: -2px;
  }

  & &__arrow.dateCarousel__arrow--next &__arrowIcon {
    margin-right: -2px;
  }
}
